<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.beansight.android" 
	android:versionCode="1"
	android:versionName="1.0">
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-sdk 
		android:minSdkVersion="5" 
        android:targetSdkVersion="7"
	/>	

	<!-- 
		We use GreenDroid to handle the ActionBar. (https://github.com/cyrilmottier/GreenDroid)
		It's easy to use, but may need to be rewritten when Android 3.0 comes to phones (to use the official ActionBar API)
		ActionBarSherlock (http://actionbarsherlock.com) would have been more respectull of Android's ActionBar API
		but it is a little ugly and requires to use fragments.
	-->
	<application 
		android:icon="@drawable/icon" 
		android:label="@string/app_name"
		android:name=".BeansightApplication"
		>
	
		<activity android:name="HomeActivity" 
			android:label="@string/app_name"
			android:theme="@style/Theme.Light.Beansight"
			> 
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	
		<activity android:name="WebViewActivity"
			android:label="@string/loginActivityName"
			android:theme="@style/Theme.Light.Beansight" 
		/>
		<!-- due to an android bug, we needed to define our own theme, see http://code.google.com/p/android/issues/detail?id=5237 -->
	
	</application>
</manifest>